/*
* Text styling
*/

// Font types
.font-family-cursive {
	font-family: $font-family-cursive;
}

// Text styles
.text-italic {
	font-style: italic;
}

.text-normal {
	font-style: normal;
}

// Text decoration
.text-underline {
	text-decoration: underline;
}

.text-strike {
	text-decoration: line-through;
}

// Text weight
.fw-thin {
	font-weight: 100;
}

.fw-light {
	font-weight: 300;
}

.fw-regular {
	font-weight: 400;
}

.fw-medium {
	font-weight: 500;
}

.fw-sbold {
	font-weight: 600;
}

.fw-bold {
	font-weight: 700;
}

.fw-strong {
	font-weight: 800;
}

.fw-ubold {
	font-weight: 900;
}

// Text spacing
.text-spacing-0 {
	letter-spacing: 0;
}

.ls-1 {
	letter-spacing: .03em;
}

html .page {
	.text-primary {
		color: $primary !important;
	}

	.text-secondary {
		color: $secondary;
	}

	.text-gray-800 {
		color: $gray-800;
	}

	.text-gray-500 {
		color: $gray-500;
	}

	.text-black {
		color: $black;
	}
	.text-white {
		color: $white;
	}
	.text-white-lighter {
		color: rgba($white, .7);
	}
}

.text-shadow-1 {
	text-shadow: 0 4px 15px rgba($black, .15);
}
