extends  ../_skeleton

block variables
  - var activeCategory = 'pages'
  - var pageName = '404 Page'

block page 
  // Page Header
  +header-classic({
    title: 'Page not Found',
    bgImage: 'bg-image-4'
  })
    p.big Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Duis aute irure dolor in reprehenderit.  


  section.section.section-md.bg-default.text-center
    .container
      article.text-group-1
        p.text-xxl.text-outer 404
        h4.text-inner Oops! That page can't be found

      // RD Search
      form.rd-search.rd-search-inline.block-2.block-centered.mt-lg-60(action='search-results.html' method='GET')
        .form-wrap
          label.form-label(for='rd-search-form-input') Search...
          input.form-input(id='rd-search-form-input' type='text' name='s' autocomplete='off')
        .form-button
          button.rd-search-submit(type='submit')


  // Page Footer
  include ../sections/_footer-classic-2
