extends  ../_skeleton

//- Includes
include ../components/_ui-card

block variables
	- var activeCategory = 'pages'
	- var pageName = 'Counters & Accordions'

block page 
	// Page Header
	+header-classic({
		title: pageName,
		bgImage: 'bg-image-4'
	})
		p.big Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Duis aute irure dolor in reprehenderit.

	// Counters
	section.section.section-lg.section-decoration-1.section-decoration-1-figure.bg-gray-100
		.container
			h3.text-center Counters
			.row.row-50
				.col-6.col-sm-3
					// Counter Classic
					article.counter-classic
						.counter-classic-main
							span 5690
						h5.counter-classic-title Students
				.col-6.col-sm-3
					// Counter Classic
					article.counter-classic
						.counter-classic-main
							span 1346
						h5.counter-classic-title Teachers
				.col-6.col-sm-3
					// Counter Classic
					article.counter-classic
						.counter-classic-main
							span 10679
						h5.counter-classic-title Lessons
				.col-6.col-sm-3
					// Counter Classic
					article.counter-classic
						.counter-classic-main
							span 678
							span +
						h5.counter-classic-title Positive reviews
		+png('world-map-728x385').section-decoration-1-image

	// Accordions
	section.section.section-lg.bg-default
		.container
			h3.text-center Accordion
			// Bootstrap collapse
			#accordion1.card-group-custom.card-group-corporate( role='tablist' aria-multiselectable='false' )
				+card({
					show: true,
					parentId: 'accordion1',
					title: 'Can I track my order?'
				}).card-corporate
					p Yes, you can! After placing your order you will receive an order confirmation via email. Each order starts production 15 minutes after your order is placed. Within a few hours of you placing your order, you will receive an expected delivery time. When the order will be ready for delivery, you will receive another email with the tracking number and a link to trace the order online with the courier.

				+card({
					parentId: 'accordion1',
					title: 'How can I change something in my order?'
				}).card-corporate
					p If you need to change something in your order, please contact us immediately. We usually process orders within 30 minutes, and once we have processed your order, we will be unable to make any changes.

				+card({
					parentId: 'accordion1',
					title: 'How can I pay for my order?'
				}).card-corporate
					p We accept Visa, MasterCard, and American Express credit and debit cards for your convenience.

				+card({
					parentId: 'accordion1',
					title: 'How long will my order take to be delivered?'
				}).card-corporate
					p Delivery times will depend on your location. Once payment is confirmed your order will be packaged. Delivery can be expected within a day.

				+card({
					parentId: 'accordion1',
					title: 'Can I return an item?'
				}).card-corporate
					p Please contact our administrators for more information on returning products purchased on our website.

	// Page Footer
	include ../sections/_footer-classic-2
