extends  ../_skeleton

//- Includes
include ../components/_ui-quote-classic

block variables
	- var activeCategory = 'pages'
	- var pageName = 'Testimonials'

block page
	// Page Header
	+header-classic({
		title: pageName,
		bgImage: 'bg-image-4'
	})
		p.big Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Duis aute irure dolor in reprehenderit.

	section.section.section-lg.bg-default
		.container
			.row.row-30.row-md-50.justify-content-center.justify-content-lg-start
				.col-md-6
					+quote-classic({
						avatar: 'testimonials-1-84x84',
						cite: 'Jane Smith'
					})
						p Eget gravida cum sociis natoque penatibus et magnis dis parturient. Libero enim sed faucibus turpis in

				.col-md-6
					+quote-classic({
						avatar: 'testimonials-2-84x84',
						cite: 'Peter McMillan'
					})
						p Urna id volutpat lacus laoreet non curabitur gravida. Scelerisque viverra mauris in aliquam

				.col-md-6
					+quote-classic({
						avatar: 'testimonials-3-84x84',
						cite: 'Samantha Lee'
					})
						p Purus in mollis nunc sed id semper risus. Et netus et malesuada fames ac turpis. Hendrerit gravida rutrum quisque non

				.col-md-6
					+quote-classic({
						avatar: 'testimonials-4-84x84',
						cite: 'Kate Wilson'
					})
						p Felis eget nunc lobortis mattis aliquam faucibus purus in massa. Malesuada pellentesque elit eget gravida

	// Page Footer
	include ../sections/_footer-classic-2
