include _ui-tour-minimal

mixin navbar-modern(obj)  
  // RD Navbar
  .rd-navbar-wrap
    nav.rd-navbar.rd-navbar-modern(
    data-layout=                'rd-navbar-fixed'
    data-sm-layout=             'rd-navbar-fixed'
    data-md-layout=             'rd-navbar-fixed'
    data-md-device-layout=      'rd-navbar-fixed'
    data-lg-layout=             'rd-navbar-static'
    data-lg-device-layout=      'rd-navbar-fixed'
    data-xl-layout=             'rd-navbar-static'
    data-xl-device-layout=      'rd-navbar-static'
    data-lg-stick-up-offset=    '46px'
    data-xl-stick-up-offset=    '46px'
    data-xxl-stick-up-offset=   '46px'
    data-lg-stick-up=           'true'
    data-xl-stick-up=           'true'
    data-xxl-stick-up=          'true')&attributes(attributes)
      .rd-navbar-main-outer
        .rd-navbar-main
          // RD Navbar Panel
          .rd-navbar-panel
            // RD Navbar Toggle
            button.rd-navbar-toggle(data-rd-navbar-toggle='.rd-navbar-nav-wrap'): span

            // RD Navbar Brand
            .rd-navbar-brand
              +logo
              
          .rd-navbar-nav-wrap
            include ../includes/_navigation
                
          .rd-navbar-collapse-outer.context-light
            button.rd-navbar-collapse-toggle(data-multitoggle='#rd-navbar-collapse') #[span]#[span]#[span]
            include ../includes/_rd-navbar-collapse