//- progress - object{progress}
mixin progress-bar-linear(progress)
	// Linear progress bar
	article.progress-linear&attributes(attributes)
		.progress-header
			p.progress-title= progress.title
		.progress-bar-linear-wrap
			.progress-bar-linear
				span.progress-value= progress.valueTo
