mixin box-4(obj)
	- formCounter++
	article.box-4: .box-4-inner
		h3 Sign up for a class
		// RD Mailform
		form.rd-form.rd-mailform.form-lg(
		data-form-output='form-output-global'
		data-form-type='contact'
		method='post'
		action='bat/rd-mailform.php')
			.form-wrap.form-wrap-icon
				label.form-label.form-label-outside(for='form-' + formCounter + '-title') Full Name
				input.form-input(id='form-' + formCounter + '-title' type='text' name='name' data-constraints='@Required')
				.icon.form-icon.mdi.mdi-border-color
			.form-wrap.form-wrap-icon
				label.form-label.form-label-outside(for='form-' + formCounter + '-date') Date
				input.form-input(id='form-' + formCounter + '-date' type='text' name='date' data-constraints='@Required' data-time-picker='date')
				.icon.form-icon.mdi.mdi-calendar-text
			.form-wrap.form-wrap-icon
				label.form-label(for='form-' + formCounter + '-email') E-mail
				input.form-input(id='form-' + formCounter + '-email' type='email' name='email' data-constraints='@Email @Required')
				.icon.form-icon.mdi.mdi-email-outline
			.form-wrap.form-wrap-icon
				input.form-input(id='form-' + formCounter + '-phone' type='text' name='phone' data-constraints='@PhoneNumber')
				label.form-label(for='form-' + formCounter + '-phone') Phone
				.icon.form-icon.mdi.mdi-phone
			.form-wrap.mt-xl-55
				button.button.button-lg.button-primary.button-block(type='submit') send request
