.text-decoration {
	position: relative;
	z-index: 2;
	&:before {
		@media (min-width: 1800px) {
			content: 'English';
			position: absolute;
			z-index: -1;
			top: 30px;
			left: 30px;
			font-size: 160px;
			font-weight: 900;
			letter-spacing: -0.02em;
			text-transform: uppercase;
			color: rgba(white, .1);
		}
	}
}

.gallery-link {
	position: relative;
	&::before {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 1;
		content: '\ec22';
		font-family: 'Linearicons';
		font-size: 30px;
		color: $white;
		opacity: 0;
		visibility: hidden;
		transition: .44s;
	}

	&::after {
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(black, .4);
		opacity: 0;
		transition: .44s;
		visibility: hidden;
	}

	&:hover {
		&::before,
		&::after {
			opacity: 1;
			visibility: visible;
		}
	}
}

.section-hidden {
	position: relative;
	z-index: 2;
	overflow: hidden;
}

.image-rounded-corners {
	border-radius: 4px;
}

.img-overlay {
	position: relative;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(206.19deg, rgba(0, 0, 0, 0) 1.3%, rgba(0, 0, 0, 0.45) 96.76%);
	}
}