/*
* Icons
*/

//
// Base styles
//
.icon {
	display: inline-block;

	&::before {
		position: relative;
		display: inline-block;
		font-weight: 400;
		font-style: normal;
		speak: none;
		text-transform: none;
	}
}

//
// Alternate icons
//

.icon-default {
}

.icon-primary {
}

//
// Icon Shapes
//
.icon-circle {
	border-radius: 50%;
}

//
// Icon Sizes
//
.icon-xs {
}

.icon-sm {
	font-size: 27px;
}

.icon-md {
	font-size: 35px;
}

.icon-lg {
	font-size: 40px;
}
