footer.section.footer-classic
	.footer-classic-main.bg-image.context-dark(style='background-image: url(images/bg-image-2.jpg);')
		.container: .footer-classic-layout
			.footer-classic-layout-item
				h5.footer-classic-title Quick Links
				.footer-classic-item-block.footer-classic-item-block-1
					ul.list.list-sm.cols-custom
						li: a(href='about.html') About 
						li: a(href='testimonials.html') Customer Reviews
						li: a(href='contact-us.html') Contacts
						li: a(href='grid-blog.html') Blog 
					.group.group-sm
						a.link-1.icon.mdi.mdi-facebook(href='#')
						a.link-1.icon.mdi.mdi-instagram(href='#')
						a.link-1.icon.mdi.mdi-behance(href='#')
						a.link-1.icon.mdi.mdi-twitter(href='#')
					
			.footer-classic-layout-item.footer-classic-item-block-2 
				h5.footer-classic-title Get in touch
				.footer-classic-item-block
					ul.list.list-md
						li 9 Valley St. Brooklyn, NY 11203
						li: a(href='tel:#') 1-800-346-6277
						li: a(href='mailto:#') info@demolink.org
					
			.footer-classic-layout-item
				h5.footer-classic-title For Travelers
				.footer-classic-item-block
					ul.list.list-sm
						li: a(href='tour-list-1.html') Tours
						li: a(href='destinations.html') Destinations
						li: a(href='#') Travel Insurance
						li: a(href='#') Help
						
	.footer-classic-aside
		.container
			+rights
