footer.section.footer-modern
	.footer-modern-main
		.container: .row.row-30.justify-content-lg-between
			.col-sm-5.col-md-3.col-lg-3
				p.footer-modern-title For Travelers
				.footer-modern-item-block
					ul.list.list-1
						li: a(href='tour-list-1.html') Tours
						li: a(href='destinations.html') Destinations
						li: a(href='#') Travel Insurance
						li: a(href='#') Help

			.col-sm-7.col-md-5.col-lg-4
				p.footer-modern-title Popular destinations
				.footer-modern-item-block(style='max-width: 300px;')
					.row.row-13
						.col-6
							ul.list.list-1
								li: a(href='single-destination.html') Turkey
								li: a(href='single-destination.html') Greece
								li: a(href='single-destination.html') Italy
								li: a(href='single-destination.html') France
								li: a(href='single-destination.html') Croatia
						.col-6
							ul.list.list-1
								li: a(href='single-destination.html') England
								li: a(href='single-destination.html') New Zealand 
								li: a(href='single-destination.html') India
								li: a(href='single-destination.html') Spain
								
			.col-md-4.col-lg-3
				p.footer-modern-title Get in Touch
				.footer-modern-item-block
					ul.list.list-1
						li: a(href='#') Send a Message
						li: a(href='contact-us.html') Contacts
						li: a(href='#') Request a Callback
						
	.footer-modern-aside
		.container
			.footer-modern-aside-layout
				+logo
				+rights
				div: .group.group-sm
					a.link-1.link-1-social.icon.mdi.mdi-instagram(href='#')
					a.link-1.link-1-social.icon.mdi.mdi-facebook(href='#')
					a.link-1.link-1-social.icon.mdi.mdi-youtube-play(href='#')
					a.link-1.link-1-social.icon.mdi.mdi-twitter(href='#')
