section.section.filters
	button.filters-toggle.button(data-multitoggle='#filters' data-scope='.filters-toggle') Filter

	ul.filters-list#filters
		li: a.active(href='#')
			span.icon.mdi.mdi-information-outline
			span Information
		li: a(href='#')
			span.icon.mdi.mdi-map
			span Course plan
		li: a(href='#')
			span.icon.mdi.mdi-map-marker
			span Location
		li: a(href='#')
			span.icon.mdi.mdi-image-filter
			span gallery
