// Get in Touch
section.section.section-lg.bg-default
  .container
    h3 Get in Touch
    // RD Mailform
    form.rd-form.rd-mailform.form-lg(
    data-form-output='form-output-global'
    data-form-type='contact'
    method='post'
    action='bat/rd-mailform.php')
      .row.row-30
        .col-lg-4
          .form-wrap.form-wrap-icon
            input#contact-name.form-input(type='text' name='name' data-constraints='@Required')
            label.form-label(for='contact-name') Name
            .icon.form-icon.mdi.mdi-account-outline.text-primary
        .col-lg-4
          .form-wrap.form-wrap-icon
            input#contact-phone.form-input(type='text' name='phone' data-constraints='@PhoneNumber')
            label.form-label(for='contact-phone') Phone
            .icon.form-icon.mdi.mdi-phone.text-primary
        .col-lg-4
          .form-wrap.form-wrap-icon
            input#contact-email.form-input(type='email' name='email' data-constraints='@Email @Required')
            label.form-label(for='contact-email') E-mail
            .icon.form-icon.mdi.mdi-email-outline.text-primary
        .col-12
          .form-wrap.form-wrap-icon
            label.form-label(for='contact-message') Message
            textarea#contact-message.form-input(name='message' data-constraints='@Required')
            .icon.form-icon.mdi.mdi-message-outline.text-primary
      .form-wrap.form-wrap-button
        button.button.button-lg.button-primary(type='submit') Send
