section.section.section-lg.bg-gray-100.text-center.text-sm-start
	.container
		ul.list-group-1.row.row-50
			li.col-sm-6.col-lg-3
				article.lg-1-item
					.icon.lg-1-item-icon.linearicons-thumbs-up2
					.lg-1-item-main
						h4.lg-1-item-title
							span.lg-1-item-counter
							| Quick Results
						p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			li.col-sm-6.col-lg-3
				article.lg-1-item
					.icon.lg-1-item-icon.linearicons-bubble-quote
					.lg-1-item-main
						h4.lg-1-item-title
							span.lg-1-item-counter
							| Get Support
						p Lura, capio, et diatria. Mori recte ducunt ad alter plasmator. Experimentum sapienter ducunt ad audax.

			li.col-sm-6.col-lg-3
				article.lg-1-item
					.icon.lg-1-item-icon.linearicons-mustache-glasses
					.lg-1-item-main
						h4.lg-1-item-title
							span.lg-1-item-counter
							| Best Teachers
						p Indexs ortum! Classiss sunt solitudos de altus adgium. Castus, regius triticums superbe anhelare.

			li.col-sm-6.col-lg-3
				article.lg-1-item
					.icon.lg-1-item-icon.linearicons-wallet
					.lg-1-item-main
						h4.lg-1-item-title
							span.lg-1-item-counter
							| Save Money
						p Cur nixus mori? Pol. Sunt hippotoxotaes convertam festus, brevis buboes. Brevis terror nunquam amors.
