-
	var
		htmlClass = "wide wow-animation",
		fonts = "//fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,600,700,800,900%7CBaloo",
		formCounter = 0,
		logo = {
			default: { normal: 'logo-default-110x39', retina: 'logo-default-110x39' },
			inverse: { normal: 'logo-inverse-110x39', retina: 'logo-inverse-110x39' },
			name: 'ispeak'
		},
		links = {
			post: 'blog-post.html', 
			getTemplate:'#'
		},
		colors = {
			primary: '#fa9046' 
		},
		menu = [
			{
				title: 'Home',
				category: 'home', 
				link: 'index.html'
			},
			{
				title: 'Our Courses',
				category: 'Our Courses', 
				link: 'our-courses.html',
				dropdown: [
					{ title: 'English For Business' }
				]
			},
			{
				title: 'About',
				category: 'about',
				link: 'about.html'
			},
			{
				title: 'Pages',
				category: 'pages',
				link: '#',
				megamenu: [
					{
						title: 'Elements',
						list: [
							[
								{ title: 'Typography' },
								{ title: 'Buttons' },
								{ title: 'Forms' }
							],
							[
								{ title: 'Icon Lists' },
								{ title: 'Counters & Accordions', link: 'counters-and-accordions.html' }
							]
						]
					},
					{
						title: 'Pages',
						list: [
							[
								{ title: 'Our Team' },
								{ title: 'Testimonials' },
								{ title: 'Contact Us' }
							],
							[
								{ title: '404 Page' },
								{ title: 'Coming Soon' },
								{ title: 'Privacy policy' },
								{ title: 'Search results' }
							]
						]
					}
				]
			},
			{
				title: 'Blog',
				category: 'blog',
				link: 'grid-blog.html',
				dropdown: [
					{
						title: 'Blog post',
						link: links.post
					}
				]
			}
		];
